{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="login-page">
      <div class="form">
        <!-- <form class="register-form">
          <input type="text" placeholder="name"/>
          <input type="password" placeholder="password"/>
          <input type="text" placeholder="email address"/>
          <button>create</button>
          <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form> -->
        <form class="login-form" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">login</button>
        </form>
      </div>
    </div>
</body>
</html>